<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<a th:href="@{/basket}">Basket</a><br>

<table border="1px solid black">
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr th:each="product, var : ${listProduct}">
        <td th:text="${var.count}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td><a th:href="@{/view/__${product.getId()}__}">View</a></td>
    </tr>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>