<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<form th:action="@{/view}" method="post">
    <table border="1px solid black" th:object="${product}">
        <input type="hidden" th:field="*{id}">
        <tr>
            <td>Name</td>
            <td><input readonly th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input readonly th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td th:object="${basket}"><input type="number" min="1" th:field="*{amount}"></td>
        </tr>
    </table>
    <input type="submit" value="Add to basket">
</form>
<a th:href="@{/list}">Back to list</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>