<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>
<body>
<div class="container">
    <table class="table table-dark" th:object="${customer}">
        <tr>
            <th>Name</th>
            <td th:text="${customer.name}"></td>
        </tr>
        <tr>
            <th>Name Type Customer</th>
            <td th:text="${customer.getCs_typeCustomer().name}"></td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td th:text="${customer.birthday}"></td>
        </tr>
        <tr>
            <th>Gender</th>
            <td th:text="${customer.gender}"></td>
        </tr>
        <tr>
            <th>Identity</th>
            <td th:text="${customer.identity}"></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td th:text="${customer.phoneNumber}"></td>
        </tr>
        <tr>
            <th>Email</th>
            <td th:text="${customer.email}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${customer.address}"></td>
        </tr>
    </table>
    <hr>
    <a class="btn btn-outline-secondary" th:href="@{/customer/}" role="button">Back</a>
</div>

<script type="text/javascript" src="../../static/jquery/jquery.js"></script>
<script type="text/javascript" src="../../static/css/bootstrap/js/bootstrap.js"></script>
</body>
</html>