<div class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="word">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchCustomer()">Search</button>
</div>

<table class="table table-hover table-dark">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Type Customer</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of listCustomer | paginate: {itemsPerPage: 5, currentPage: page} | filter: word">
    <th scope="row">{{customer.id}}</th>
    <td>{{customer.name}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.typeCustomer}}</td>
    <!--    <td>-->
    <!--      <a type="button" class="btn btn-outline-info" [routerLink]="['/view', customer.id]">Info</a>-->
    <!--    </td>-->
    <td>
      <button mat-raised-button class="btn btn-outline-info" (click)="modalView(customer.id)">View</button>
    </td>
    <td>
      <a type="button" class="btn btn-outline-warning" [routerLink]="['edit', customer.id]">Edit</a>
    </td>
    <td>
      <button mat-raised-button class="btn btn-outline-danger" (click)="modalDelete(customer.id)">Delete</button>
    </td>
  </tr>
  </tbody>
  <pagination-controls (pageChange)="page = $event" class="my-pagination"></pagination-controls>
</table>



