<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>
<body>

<a th:href="@{/create}">Create new employee</a>
<hr>
<table border="1px black solid">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Contract Number</td>
    </tr>
    <tr th:each="employee : ${listEmployee}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getName()}"></td>
        <td th:text="${employee.getContactNumber()}"></td>
    </tr>
</table>
</body>

<footer th:replace="layout :: footer"></footer>
</html>